<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<article>
		<div th:insert="fragments/sidebar :: sidebar"></div>
		<div class="content">

			<h2>勤怠情報</h2>

			<form th:action="@{/attendanceinformation/}" method="post" id="monthForm">
				
				<input type="hidden" name="userId"
					th:value="${account != null ? account.userId : ''}"> <select
					name="inputDate" onchange="document.getElementById('monthForm').submit()">
					<option value="2025-07" th:selected="${yearMonth == '2025-07'}">2025年07月度</option>
					<option value="2025-08" th:selected="${yearMonth == '2025-08'}">2025年08月度</option>
					<option value="2025-09" th:selected="${yearMonth == '2025-09'}">2025年09月度</option>
					<option value="2025-10" th:selected="${yearMonth == '2025-10'}">2025年10月度</option>
					<option value="2025-11" th:selected="${yearMonth == '2025-11'}">2025年11月度</option>
					<option value="2025-12" th:selected="${yearMonth == '2025-12'}">2025年12月度</option>
				</select>
				<!--  
				<button type="submit" name="submitname" class="submitname">表示</button>
				-->
				
				<!-- 勤怠情報ボタン初回表示時 -->
				<div th:if="${attendanceinformation != null}">
				<!-- 表示ボタン表示時 -->
				<div th:if="${#lists.isEmpty(attendanceinformation)}">
				<a th:href="@{/attendanceinformation/new(date=${yearMonth})}">新規登録</a>
				</div>
				</div>
			
			</form>
<!-- 
			<form th:action="@{/attendanceinformation/new}" method="get">
			
				<div th:if="${#lists.isEmpty(attendanceinformation)}">
				<input type="hidden" name="date" th:value="${yearMonth}">
					<button type="submit" name="submitname" class="submitname">新規作成</button>
				</div>
			</form>
-->
			<table>

				<div th:if="${not #lists.isEmpty(attendanceinformation)}">
				<tr>
					<th>ユーザーID</th>
					<th>日付</th>
					<th>出勤時刻</th>
					<th>退勤時刻</th>
					<th>休憩</th>
					<th>勤務時間</th>
					<th>残業</th>
					<th>ステータス</th>
				</tr>
				</div>
				<tr th:each="attend : ${attendanceinformation}">
					<td th:text="${attend.id?.userId}"></td>
					<td th:text="${attend.id?.date}"></td>
					<td th:text="${attend.clock_in}"></td>
					<td th:text="${attend.clock_out}"></td>
					<td th:text="${attend.break_time}"></td>
					<td th:text="${attend.working_hours}"></td>
					<td th:text="${attend.overtime_hours}"></td>
					<td th:text="${attend.status}"></td>
				</tr>
			</table>
		</div>
	</article>
</body>
</html>