<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<article>
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<div class="content">
			<h2 class="titlenew">勤怠登録</h2>
			
			<p>以下の時刻で打刻します</p>
			
			<p><span id = "today"></span></p>
			
			<!-- JavaScriptで本日の日付を表示 -->
			<script>
			
			const today = new Date();
			
			<!-- 曜日の配列を用意 -->
			const days = ["日","月","火","水","木","金","土"];
			
			
			const dayOfWeek = days[today.getDay()];
			
			const formatted =
			
			today.getFullYear() + "年" +
			(today.getMonth() + 1) + "月" +
			today.getDate() + "日" +
			"(" + dayOfWeek + ")";
			
			document.getElementById("today").textContent = formatted;
		    </script>
		    
		    <!-- 日付入力フォーム -->
		    <input type="time" id = "timeInput">
		    <script>
		    const now = new Date();
		    
		    const hours = String(now.getHours()).padStart(2,'0');
		    const minutes = String(now.getMinutes()).padStart(2,'0');
		    
		    const currentTime = `${hours}:${minutes}`;
		    
		    document.getElementById("timeInput").value = currentTime;
		    </script>
		    
		     <!-- 出勤ボタン -->
		    <form th:action="@{/attendregister/clocin}" method="post">
		     <button type="submit" name="submitname" class="submitname">出勤</button>
		     </form>
		     
		     <!-- 退勤ボタン -->
		    <form th:action="@{/attendregister/clocout}" method="post">
		    <button type="submit" name="outbutton" class="outbutton">退勤</button>
		    </form>

</div>
</article>

</body>
</html>