<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">f.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<article>
		<div th:insert="fragments/sidebar :: sidebar"></div>
		<div class="content">
			<h2 class="titlenew">休暇申請詳細</h2>
			
			<table border="1">
				
				<tr>
					<th>申請者</th>
					<td><span th:text="${loginId}"></span> </td>
				</tr>
				<tr>
					<th>申請日</th>
					<td><span th:text="${applicationDate}"></span></td>
				</tr>
				<tr>
					<th>変更対象日</th>
					<td><span th:text="${changeDate}"></span></td>
				</tr>
				<tr>
					<th>変更理由</th>
					<td><span th:text="${reason}"></span></td>
				</tr>
				
				
			</table>
			<form th:action="@{/leavedetail}" method="post">
			<input type="hidden" name="requestNo" th:value="${requestNo}">
			<input type="hidden" name="userId" th:value="${loginId}">
			<button type="submit" name="submiregist" class="submiregist">承認</button>
			</form>
			
			<script th:inline="javascript">
			if([[${registerSuccess}]] == true){
				alert("登録が完了しました。")
			}
			</script>
			

		</div>
	</article>
</body>
</html>