<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1>勤怠管理システム</h1>
	</header>

	<h2 class="title">ログイン画面</h2>

	<div style="text-align: left;">

		<form th:action="@{/login}" method="post">
			<label class="userId">ユーザーID</label> <input type="text"
				name="username" required><br> <label class="passname">パスワード</label>
			<input type="password" name="password" required><br>
			<div style="text-align: left;">
				<button type="submit" name="submitname" class="submitname">ログイン</button>
			</div>
		</form>

		<div th:if="${param.error}" style="color: red;">
			ユーザーIDまたはパスワードが違います。</div>

	</div>



</body>
</html>