<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1>勤怠管理システム</h1>
	</header>
	<article>
		<div class="side">
			<div class="sidemenu">
				<a th:href="@{/attendregister}">勤怠登録</a>
			</div>
			<div class="sidemenu">
				<a th:href="@{/changerequest}">変更申請</a>
			</div>
			<div class="sidemenu">
				<a th:href="@{/vacationrequest}">休暇申請</a>
			</div>
			<div class="sidemenu">
				<a th:href="@{/attendanceinformation}">勤怠情報</a>
			</div>
		</div>
		<div class="content">

			<h2>ホーム画面</h2>

			<p>時間外20ｈ経過アラート</p>
		</div>
	</article>

</body>
</html>