<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ホーム画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<article>
		<div th:insert="fragments/sidebar :: sidebar"></div>
		<div class="content">

			<h2>ホーム画面</h2>

			<p>時間外20ｈ経過アラート</p>
		</div>
	</article>

</body>
</html>